MONGODB_URI=mongodb+srv://Lemon:fuckwebprogrammingstudiosemB2026@webprogrammingstudio.3kdnkat.mongodb.net/studiotrade?appName=WebProgrammingStudio
SESSION_SECRET=dtfyguihyojldrtfyukilo
PORT=3000
ADMIN_EMAIL=admin@studiotrade.local
ADMIN_PASSWORD=ChangeMe123!
ADMIN_USERNAME=admin
