MONGODB_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/studiotrade
SESSION_SECRET=change-this-to-a-long-random-string
PORT=3000
ADMIN_EMAIL=admin@studiotrade.local
ADMIN_PASSWORD=ChangeMe123!
ADMIN_USERNAME=admin
